<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.romide.main"
	android:versionName="0.10.5"
	android:versionCode="121"
	android:installLocation="auto">

    <uses-sdk 
		android:minSdkVersion="14" 
		android:targetSdkVersion="19" />

	<uses-permission 
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission 
		android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission 
		android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission 
		android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission 
		android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission 
		android:name="android.permission.WAKE_LOCK" />
	<uses-permission 
		android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission 
		android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission 
		android:name="android.permission.CHANGE_WIFI_STATE" />
  
    <uses-permission 
		android:name="android.permission.WAKE_LOCK" />
    <uses-permission 
		android:name="android.permission.SYSTEM_ALERT_WINDOW"/>






    <application 
		android:icon="@drawable/ic_ide"
		android:label="@string/application_ide"
		android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
		android:hardwareAccelerated="true">

		<activity 
			android:name=".ide.IDESplash"
			android:label="@string/application_ide"
			android:icon="@drawable/ic_ide">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>

		<activity 
			android:name=".ide.IDEMain"
			android:label="@string/application_ide"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.IDERule"
			android:label="@string/ide_title_rule"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.T_BuildProp"
			android:label="@string/ide_title_buildprop"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.T_PortBoot"
			android:label="@string/ide_title_portboot"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.T_PortRom"
			android:label="@string/ide_title_portrom"
			android:icon="@drawable/ic_ide">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
            </intent-filter>
		</activity>

		<activity 
			android:name=".ide.IDEMore"
			android:label="@string/ide_title_more"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.IDETerminal"
			android:label="@string/ide_title_terminal"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.IDEGui"
			android:label="@string/ide_title_gui"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.T_Signer"
			android:label="@string/ide_title_signer"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.IDEInstall"
			android:label="@string/ide_title_install"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.IDEPlugin"
			android:label="@string/ide_title_plugin"
			android:icon="@drawable/ic_ide">
		</activity>


		<activity 
			android:name=".ide.IDEApktool"
			android:label="@string/ide_title_apktool"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.IDEEdit"
			android:label="@string/ide_title_editor"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.IDEPreference"
			android:label="@string/ide_title_preference"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity 
			android:name=".ide.IDEHello"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity
			android:name=".ide.IDEPortMethodManager"
			android:label="@string/ide_title_portmethodmgr"
			android:uiOptions="splitActionBarWhenNarrow"
			android:icon="@drawable/ic_ide">
		</activity>

		<activity
			android:name=".workspace.WKMain"
			android:label="@string/ide_title_workspace"
			android:icon="@drawable/ic_ide">
		</activity>
		
		<activity
			android:name=".workspace.WKCreateNew"
			android:label="@string/ide_title_wkcreatenew"
			android:icon="@drawable/ic_ide">
		</activity>
		

		<activity 
			android:name=".Virtual"
			android:label="Virtual"
			android:icon="@drawable/ic_ide">
		</activity>


		<activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

		<service
			android:name=".ide.IDEService" >

		</service>
		<service 
			android:name=".ide.IDEQuickWindow" >
		</service>



		<activity android:name="com.umeng.fb.ConversationActivity"
			android:theme="@android:style/Theme.NoTitleBar"/>
		<activity android:name="com.umeng.fb.ContactActivity"
			android:theme="@android:style/Theme.NoTitleBar"/>
		<service
			android:name="com.umeng.update.net.DownloadingService"
			android:process=":DownloadingService" >
		</service>
		<activity 
			android:name="com.umeng.update.UpdateDialogActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar" >
		</activity>




		<activity
            android:label="@string/ide_title_filemanager"
            android:name="com.romide.filemanager.FileExplorerMainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
